<% layout("/layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <form
        method="post"
        action="/listings/newlist"
        class="needs-validation"
        novalidate
        enctype="multipart/form-data"
      >
       <div class="mb-3">
  <label class="form-label">Category</label>

  <select
    name="listing[category]"
    class="form-select"
    required
  >
    <option value="">Select Category</option>
    <option value="critic">Critic</option>
    <option value="farm">Farm</option>
    <option value="mountain">Mountains</option>
    <option value="city">City</option>
    <option value="uniqueCity">UniqueCity</option>
    <option value="summer">Summer</option>
  </select>
</div>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            placeholder="title"
            name="listing[title]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Title should be valid</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Description should be valid</div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Upload Image</label>
          <input type="file" name="image" class="form-control" />
          <div class="valid-feedback">ok!</div>
        </div>
        <div class="row">
          <div class="mb-3 col-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              placeholder="Price"
              name="listing[price]"
              class="form-control"
              min="1"
              required
            />
            <div class="invalid-feedback">Price should be valid</div>
          </div>
          <div class="mb-3 col-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              placeholder="country"
              name="listing[country]"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Country should be valid</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="loaction" class="form-label">Location</label>
          <input
            type="text"
            placeholder="Location"
            name="listing[location]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Location should be valid</div>
        </div>

        <br />
        <button class="mb-3 btn btn-dark">Creat List</button>
      </form>
    </div>
  </div>
</body>
