<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderlust</title>
</head>
<body>
 <% layout("/layouts/boilerplate") %>
    <div class="row">
    <div class="alert alert-danger" role="alert">
        <p class="alert-heading"> ⚠️ <%= message %></p>
    </div>
</div>
</body>
</html>