body {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
}

.navbar{
    height:5rem;
    background-color: rgb(253, 253, 253);
}
.fa-compass{
    color: crimson;
    font-size: 2rem;
}
.navbar-collapse{
    color: #22222222 !important;
}
.f-info-links a{
    text-decoration: none;
    color: #222222 ;
}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links,.f-info-social,.f-info-brand{
    width: 100%;
    font-size: 1rem;
     display: flex;
     vertical-align: right;
     justify-content: center;
     align-items: center;
    }
.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    align-items: space-evenly;
    justify-content: center;
}
.f-info-social i{
    font-size: 1rem;
    margin-right: 1rem;
}
.card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0% !important;
}
.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: rgb(253, 254, 255);
}
